.cart-list {
  width: 80%;
  margin: 10px auto 20px auto;
  margin-right: 20%;
  border-radius: 20px;
  padding: 20px;
  background: #ededed;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #bebebe;
}

.cart {
  margin: 2px 0 0;
  font-size: 12px;
  line-height: 24px;
  display: block;
  font-weight: 600;
}
